<h1>Marketing Manager</h1>
<table border = 1>
    
    <tr>
        <td>{{MMData._id}}</td>
        <td>{{MMData.name}}</td>
        <td>{{MMData.gender}}</td>
        <td>{{MMData.address}}</td>
        <td>{{ UserData.email }}</td>
        <td>
            <a href="/marketingmanager/editMM/{{MMData._id}}">Edit</a>
        </td>
        
   </tr>

</table>