<h1>Contribution page</h1>
<h1>Event reuirement : {{event.requirement}}</h1>
<h1>Deadline 1: {{event.deadline1}}</h1>
<h1>Deadline 2: {{event.deadline2}}</h1>

<h1>--------------</h1>
<h1>{{contribution.choosen}}</h1>
<h1>{{contribution.comment}}</h1>
<h1>{{contribution.date}}</h1>
<form action="" method="post" enctype="multipart/form-data" >

  Image: <input type="file" name="contribution" accept="" required>

  <input  type="submit" value="Add">
</form>