<h1>Student</h1>
<table border = 1>
    
    <tr>
        <td>{{STData._id}}</td>
        <td>{{STData.name}}</td>
        <td>{{STData.gender}}</td>
        <td>{{STData.address}}</td>
        <td>{{ UserData.email }}</td>
        <td>
            <a href="/student/editST/{{STData._id}}">Edit</a>
        </td>
        
   </tr>

</table>