<h1>Guest</h1>
<table border = 1>
    
    <tr>
        <td>{{GData._id}}</td>
        <td>{{GData.name}}</td>
        <td>{{GData.gender}}</td>
        <td>{{GData.address}}</td>
        <td>{{ UserData.email }}</td>
        <td>
            <a href="/guest/editG/{{GData._id}}">Edit</a>
        </td>
        
   </tr>

</table>