<form action="" method="post" enctype="multipart/form-data" >
  <h1>Edit Guest</h1>
  Name: <input type="text" name="name" id="" value = {{guest.name}}>
  <br><br>
  Birth: <input type="date" name="dob" id="" value="{{formatDate guest.dob}}">
  <br><br>
  Gender: <input type="text" name="gender" value="{{guest.gender}}">
  <br><br>
  Address:<input type="text" name="address" value="{{guest.address}}">
  <br><br>
  Password: <input type="text" name="password" id="" value="{{user.password}}">
  <br><br>
    IMG: <img src="data:image/jpeg;base64,{{guest.image}}" style="max-width: 100px;"></td>
  <br><br>
  Image: <input type="file" name="image" accept="image/*">
  <br><br>
  {{!-- fix later --}}
  <input  type="submit" value="Add">
</form>