<h1>Marketing Coordinator</h1>
<table border = 1>
    
    <tr>
        <td>{{MCData._id}}</td>
        <td>{{MCData.name}}</td>
        <td>{{MCData.gender}}</td>
        <td>{{MCData.address}}</td>
        <td>{{ UserData.email }}</td>
        <td>
            <a href="/marketingcoordinator/editMC/{{MCData._id}}">Edit</a>
        </td>
        
   </tr>

</table>